@import './base.css';

body {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-primary: #202224;
  --color-trend-label: #606060;
  --color-error: #f93c65;
  --color-pending: #fcbe2d;
  --color-success: #00b69b;
}
